@model IEnumerable<admin.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Skapa ny kategori</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
